body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    text-align: center;
}

/* Header */
header {
    background-color: black;
    color: white;
    padding: 15px;
}

.header-text {
    font-size: 14px;
}

/* Conteúdo */
.info {
    margin-top: 40px;
}

/* Título */
.info h1 {
    font-size: 34px;
    color: #333;
}

/* Texto */
.info p {
    width: 60%;
    margin: 15px auto;
    font-size: 17px;
    color: #444;
}

/* Imagem */
.info img {
    width: 450px;          /* tamanho ajustado */
    max-width: 90%;        /* responsivo */
    height: auto;
    display: block;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

/* Efeito hover */
.info img:hover {
    transform: scale(1.05);
}